<div class="container">

      <h1 class="custom-header"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>  We are Oakville's premier hobby destination!</h1>

      <div class="row">

        <div class="panel custom-panel col-md-6">
          <div class="panel-heading">
            <h1 class="week-day">Store Info</h1>
          </div>

          <div class="panel-body">
            <p>Come check out our awesome selection of Age Of Sigmar, Warhammer 40k, Dropzone Commander, Flames of War, Infinity, Malifaux, Batman Miniatures Game, Frostgrave, Team Yankee, Board Games, Magic: The Gathering and tons of essential hobby supplies. You're going to want to come out for gaming nights and events when you see the awesome terrain on our tables in store!</p>
            <p>As our customer, you will receive the BEST customer service. Our operators/owners have a combined work experience in hobby stores of 12 years, and over 35 years of combined hobby experience! We offer free help to our customers with building, painting and learning all of our games.</p>
          </div>
        </div>

        <div class="panel custom-panel col-md-5">
          <div class="panel-heading">
            <h1 class="week-day">News</h1>
          </div>

          <!-- List group -->
          <!-- <ul class="list-group">
            <li class="list-group-item">Warhammer Quest will be on sale in our store soon! Let us know if you want one before they are gone!</li>
            <li class="list-group-item">We now Carry Frostgrave By Osprey Games!</li>
            <li class="list-group-item">We will also be carrying Team Yankee by Battlefront Miniatures!</li>
            <li class="list-group-item">Something new this year, there will be a full schedule of this years Lords Of War Tournaments Released soon.</li>
            <li class="list-group-item">Stay tuned for more! Check out Lordsofwartournament.com or the event Facebook page</li>
          </ul> -->



        </div>
        <% @contents.each do |content| %>
          <div class="panel custom-panel col-md-5">
            <div class="panel-heading">
              <h1><%= content.title %></h1>
            </div>
          </div>
        <% end %>

        <div class="panel custom-panel col-md-5">
          <div class="btn btn-default">
            <%= link_to "Add Content", new_content_path %>
          </div>
        </div>


      </div>


      <% if current_user %>
        <h1>Admin Text</h1>
      <% end %>


    </div>
