<div class="container">

  
  <h1><%= @content.title %></h1>
  <div><%= image_tag @content.image %></div>
  <div>
    <%= @content.content %>
  </div>
  <div>
    <%= @content.url %>
  </div>


</div>
