<div class="container">

  <h1>Find Us</h1>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNWUW69ldpIansXXbP_aGkmqnCQM-m0dM"></script> -->



  <div id="map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.974838400924!2d-79.67791828479167!3d43.440241479129234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b5cf5a895e551%3A0x909de78e49ddf538!2s124+Kerr+St%2C+Oakville%2C+ON+L6K+3A7!5e0!3m2!1sen!2sca!4v1473868205782" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>

</div>
