<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<br>
<br>

<div class="row">
  <div class="tournament-fb">
    <div class="fb-page" data-href="https://www.facebook.com/LordsofWartournament/?fref=ts" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LordsofWartournament/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LordsofWartournament/?fref=ts">Lords of War Tournament</a></blockquote></div>
  </div>
</div>
