// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "contents";


body {
  margin-top: 100px;
  margin-bottom: 200px;
}

img {
  max-width: 100%;
}

img .custom-image {
  width: auto;
}

body {
  margin-top: 50px;
  background-color: rgb(140, 140, 140);
}

.jumbotron {
  padding: 0;
}

nav a:hover {
  border-bottom: 4px solid rgb(154, 48, 48);
  font-size: 16px;
  font-weight: bolder;
}

.custom-header {
  background-color: rgb(212, 212, 212);
  padding: 10px;
  border-top: 5px solid rgb(154, 48, 48);
  border-left: 5px solid rgb(154, 48, 48);
  box-shadow: 5px 5px 0px black;
  margin: 20px 0 25px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

.custom-footer {
  background-color: rgb(212, 212, 212);
  padding-top: 10px;
  border-top: 4px solid rgb(154, 48, 48);
  margin-top: 20px;
  bottom: 0;

}

/* HOME PAGE */

.custom-panel {
  background-color: rgb(212, 212, 212);
  box-shadow: 5px 5px 0px black;
  margin: 20px;

}

.custom-content {
  background-color: #fff;
}



/* PRODUCTS PAGE */

.img-custom {
  height: 350px;
  max-width: 100%;
}

.custom-box {
  background-color: rgb(224, 221, 221);
  border-radius: 2%;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 0px black;
}

/* GAMING PAGE */

.day-box {
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: rgb(212, 212, 212);
  float: left;
  box-shadow: 5px 5px 0px black;
}

.week-day {
  text-align: center;
  background-color: rgb(154, 48, 48);
  color: rgb(212, 212, 212);
}

.box-content {
  padding: 5px;
}
