// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-text-area {
  max-width: 100%;
  height: 350px;
}

.content-header {
  border-bottom: 4px solid rgb(154, 48, 48);

}

.custom-content {
  background-color: #fff;
  border-radius: 2%;
}
